<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Finder</h3>
          <ul class="nav masthead-nav">
            <li class="active"><input name="criteria" type="text" placeholder="find by name/phone/address" class="form-control" id="criteria"></li>
          </ul>
        </div>
      </div>
      
      <div class="inner-cover" id="results">
        
      </div>
    </div>
  </div>
</div>
